<div id="main-container" class="container">
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>
<p>
  <strong>Image:</strong>
  <%= link_to image_tag(@article.image.url(:large)), @article.image.url %>
</p>
<h4>Leave a Comment:</h4>
<%= render 'comments/form' %>
<br><br>

<p><span class="badge"><%=@article.comments.count %></span> Comments:</p><br>
<%= render @article.comments %>
<% if current_user.id == @article.user_id %>
  <%= link_to 'Edit', edit_article_path(@article) %> |
<% end %>

</div>
